/* body,html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

canvas {
  box-shadow: none;
}
iframe{
  overflow:hidden;
}


.token {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */